{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agendamento</title>
    <link rel="stylesheet" href="{% static 'css/agclientestyle.css' %}">
</head>
<body>
    <div class="tela_cadastro">
        <div class="Nav_inicial">
            <ul class="logo">
                <li><a>Oficina Abelha</a></li> 
            </ul>

            <ul class="nav_itens">
                <li><a class="nav-link" href="{% url 'homecliente' %}">Home</a></li>
                <li><a class="nav-link" href="{% url 'account_logout' %}">Sair</a></li>

            </ul>
        </div>

        <div class="meio_agendamento">
            <form method="POST" class="post-form" enctype="multipart/form-data"> 
            {% csrf_token %}
            
                

            <ul class="titulo_Agende">
                <li> Agendamento
            </ul>

            <ul class="agen_descricao">
                <input type = "text" name="agendamentoNome" value="{{user.email}}" readonly/>
            </ul>

            <ul class="calendario_texto">
                <li> Escolha uma data no calendario:
            </ul>

            <ul class="agen_calendario">
                <input type="date" name="agendamentoData" required/>
            </ul>

            <ul class="agen_horariotext">
                <li> Selecione um horário
            </ul>

            <ul class="agen_horario">
                <input type="time" step="900" min="08:00" max="17:00" name="agendamentoHora" required/>
            </ul>
            <ul class="agen_descricaotext">
                <li> Descreva o problema
            </ul>

            <ul class="agen_descricao">
                <input type="text" name="agendamentoDescricao" required/>
            </ul>



            <ul class="btn_solicitar">
                <button type="submit" value="POST" class="btn_solicitar">Solicitar Agendamento</button> 
            </ul>
        </form>
        </div>

        <div class="rodape_contato">
                <ul class="contato"> 
                    <ul>
                        <li> R.  Agenor Clauss, 65 - Jardim Monte Carlo, Indaiatuba
                        <li> E-mail: oficinaabelha@gmail.com
                        <li> Telefone:  (19) 2660-0789
                    <ul>
                </ul>
        </div>
    </div>

</body>
</html>