*{
    box-sizing: border-box; 
    margin: 0;
}

body{
    font-family: "Roboto",sans-serif;
}

/* logo */

.Nav_inicial{
    background: #000000;
    box-shadow: 0px 8px 24px;
    height: 93px; 
 
}

.nav_itens{
    max-width: 800px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    list-style: none;
    position: absolute;
    left: 20px;
    right: -500px;
    top: 35px;
    bottom: 14px;
}

.nav_itens li{
    list-style: none;
    margin-right: 50px; 
}

.nav_itens a {
    color: #FFFCFC;
    font-size: 20px;
    font-family: "IBM Plex Sans", sans-serif;
    text-decoration: none;
}

.logo {
    position: absolute;
    left: 20px;
    right: -11px;
    top: 25px;
    bottom: 14px;
}

.logo li{
    list-style: none;
    margin-right: 100px;
}

.logo a {
    color: #F2C94C;
    font-family: "IBM Plex Sans", sans-serif;
    text-decoration: none;
    font-weight: bold;
    font-size: 40px;
}

.meio_cadastro{
    background: #4f4f4f;
    align-items: center;
    position: relative;
    display: center;
}

.titulo_cadastro{
    padding-top: 50px;
    padding-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo_cadastro li{
    list-style: none;
    font-family: "IBM Plex Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 44px;
    letter-spacing: -0.56px;
    color: #FFFCFC;
}

.email_texto{
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.email_texto li{
    list-style: outside;
    font-family: "IBM Plex Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 44px;
    letter-spacing: -0.56px;
    color: #FFFCFC;
    padding-right:450px;
}

.cadastro_email{
    padding-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cadastro_email input{
    background: #FFFCFC;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.15);
    border-radius: 8px 8px 8px 8px;
    font-size: 24px;
    line-height: 25px;
    border: 10;
    padding: 40px 190px;
    color: #000000;
}

.senha_texto{
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.senha_texto li{
    list-style: outside;
    font-family: "IBM Plex Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 44px;
    letter-spacing: -0.56px;
    color: #FFFCFC;
    padding-right:450px;
}

.cadastro_senha{
    padding-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cadastro_senha input{
    background: #FFFCFC;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.15);
    border-radius: 8px 8px 8px 8px;
    font-size: 24px;
    line-height: 25px;
    border: 10;
    padding: 40px 190px;
    color: #000000;
}

.senhaconf_texto{
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.senhaconf_texto li{
    list-style: outside;
    font-family: "IBM Plex Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 44px;
    letter-spacing: -0.56px;
    color: #FFFCFC;
    padding-right:350px;
}

.cadastro_senhaconf{
    padding-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cadastro_senhaconf input{
    background: #FFFCFC;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.15);
    border-radius: 8px 8px 8px 8px;
    font-size: 24px;
    line-height: 25px;
    border: 10;
    padding: 40px 190px;
    color: #000000;
}

.CPF_texto{
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.CPF_texto li{
    list-style: outside;
    font-family: "IBM Plex Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 44px;
    letter-spacing: -0.56px;
    color: #FFFCFC;
    padding-right:450px;
}

.cadastro_CPF{
    padding-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cadastro_CPF input{
    background: #FFFCFC;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.15);
    border-radius: 8px 8px 8px 8px;
    font-size: 24px;
    line-height: 25px;
    border: 10;
    padding: 40px 190px;
    color: #000000;
}

.nome_texto{
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nome_texto li{
    list-style: outside;
    font-family: "IBM Plex Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 44px;
    letter-spacing: -0.56px;
    color: #FFFCFC;
    padding-right:450px;
}

.cadastro_nome{
    padding-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cadastro_nome input{
    background: #FFFCFC;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.15);
    border-radius: 8px 8px 8px 8px;
    font-size: 24px;
    line-height: 25px;
    border: 10;
    padding: 40px 190px;
    color: #000000;
}

.nascimento_texto{
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nascimento_texto li{
    list-style: outside;
    font-family: "IBM Plex Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 44px;
    letter-spacing: -0.56px;
    color: #FFFCFC;
    padding-right:320px;
}

.cadastro_nascimento{
    padding-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cadastro_nascimento input{
    background: #FFFCFC;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.15);
    border-radius: 8px 8px 8px 8px;
    font-size: 24px;
    line-height: 25px;
    border: 10;
    padding: 40px 230px;
    color: #000000;
}

.telefone_texto{
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.telefone_texto li{
    list-style: outside;
    font-family: "IBM Plex Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 44px;
    letter-spacing: -0.56px;
    color: #FFFCFC;
    padding-right:430px;
}

.cadastro_telefone{
    padding-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cadastro_telefone input{
    background: #FFFCFC;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.15);
    border-radius: 8px 8px 8px 8px;
    font-size: 24px;
    line-height: 25px;
    border: 10;
    padding: 40px 190px;
    color: #000000;
}

.btn_cadastrar{
    Width: 150px;
    Height: 56px;
    background: #F2994A;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding-right: 20px;
}

.btn_cadastrar a {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-decoration:none;
    color: #000000;
}

.rodape_contato{
    background: #4f4f4f;
    height: 200px;
    letter-spacing: 0.44px;
    padding-top: 80px;
    padding-right: 50px;
}

.rodape_contato li{
    font-family: "IBM Plex Sans", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: #CDC9D6;
    display: flex;
    align-items: center;
    justify-content: center;
}

