*{
    box-sizing: border-box; 
    margin: 0;
}

body{
    font-family: "Roboto",sans-serif;
}

/* logo */

.Nav_inicial{
    background: #000000;
    box-shadow: 0px 8px 24px;
    height: 93px;  
}

.nav_itens{
    max-width: 900px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    list-style: none;
    position: absolute;
    left: 20px;
    right: -500px;
    top: 35px;
    bottom: 14px;
}

.nav_itens li{
    list-style: none;
    margin-right: 50px; 
}

.nav_itens a {
    color: #FFFCFC;
    font-size: 20px;
    font-family: "IBM Plex Sans", sans-serif;
    text-decoration: none;
}

.logo {
    position: absolute;
    left: 20px;
    right: -11px;
    top: 25px;
    bottom: 14px;
}

.logo li{
    list-style: none;
    margin-right: 100px;
}

.logo a {
    color: #F2C94C;
    font-family: "IBM Plex Sans", sans-serif;
    text-decoration: none;
    font-weight: bold;
    font-size: 40px;
}

.meio_como_funciona{
    background: #4f4f4f;
    height: 1700px;
    align-items: center;
    position: relative;
    display: center;
}

.titulo_Agende{
    padding-top: 80px;
    padding-bottom:50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo_Agende li{
    list-style: none;
    font-family: "IBM Plex Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 44px;
    letter-spacing: -0.56px;
    color: #FFFCFC;
}

.titulo_texto{
    padding-top: 50px;
    padding-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo_texto li{
    list-style: none;
    font-family: "IBM Plex Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 44px;
    letter-spacing: -0.56px;
    color: #FFFCFC;
}

.funcionario_calendario{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.funcionario_calendario input{
    background: #FFFCFC;
    border-radius: 8px 8px 8px 8px;
    font-size: 24px;
    line-height: 25px;
    border: 10;
    padding: 40px 230px;
    color: #000000;
}

.titulo_Horario{
    padding-top: 50px;
    padding-bottom: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo_Horario li{
    list-style: none;
    font-family: "IBM Plex Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 44px;
    letter-spacing: -0.56px;
    color: #FFFCFC;
}

.funcionario_horário{
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.funcionario_horário input{
    background: #FFFCFC;
    border-radius: 8px 8px 8px 8px;
    font-size: 24px;
    line-height: 25px;
    border: 10;
    padding: 40px 280px;
    color: #000000;
}

.titulo_Selecionar{
    padding-top: 50px;
    padding-bottom: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo_Selecionar li{
    list-style: none;
    font-family: "IBM Plex Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 44px;
    letter-spacing: -0.56px;
    color: #FFFCFC;
}

.btn_solicitar{
    Width: 150px;
    Height: 56px;
    background: #F2994A;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding-right: 40px;
}

.btn_solicitar a {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-decoration:none;
    color: #000000;
    padding-left: 40px;
}

.titulo_textoII{
    padding-top: 100px;
    padding-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo_textoII li{
    list-style: none;
    font-family: "IBM Plex Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 44px;
    letter-spacing: -0.56px;
    color: #FFFCFC;
}

.titulo_Agendar{
    padding-top: 50px;
    padding-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo_Agendar li{
    list-style: none;
    font-family: "IBM Plex Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 44px;
    letter-spacing: -0.56px;
    color: #FFFCFC;
}

.btn_novoagendamento{
    Width: 350px;
    Height: 56px;
    background: #F2994A;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding-right: 40px;
}

.btn_novoagendamento a {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-decoration:none;
    color: #000000;
    padding-left: 40px;
}

.rodape_contato{
    background: #4f4f4f;
    height: 200px;
    letter-spacing: 0.44px;
    padding-top: 80px;
}

.rodape_contato li{
    font-family: "IBM Plex Sans", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: #CDC9D6;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 80px;
}