{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperação de Senha</title>
    <link rel="stylesheet" href="{% static 'css/recuperacaostyle.css' %}">
</head>
<body>
    {% block content %}
    <div class="tela_recuperacao">
        {% csrf_token %}
        <div class="Nav_inicial">
            <ul class="logo">
                <li><a class="nav-link" href="{% url 'home' %}">Oficina Abelha</a></li> 
            </ul>


            <ul class="nav_itens">
                <li><a class="nav-link" href="{% url 'account_login' %}">Login</a></li>
                <li><a class="nav-link" href="{% url 'comofunc' %}">Como Funciona</a></li>
                <li><a class="nav-link" href="{% url 'contato' %}">Contato</a></li>
            </ul>
        </div>

        <div class="meio_recuperacao">

            <ul class ="titulo">
                <li> Recuperação de senha enviada:
            </ul>

            <ul class="CPF_texto">
                <li> Sua senha foi alterada com sucesso
            </ul>


        </div>

        <div class="rodape_contato">
                <ul class="contato"> 
                    <ul>
                        <li> R.  Agenor Clauss, 65 - Jardim Monte Carlo, Indaiatuba
                        <li> E-mail: oficinaabelha@gmail.com
                        <li> Telefone:  (19) 2660-0789
                    <ul>
                </ul>
        </div>
    </div>

    {% endblock %}
</body>
</html>