{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="{% static 'css/cadastrostyle.css' %}">
</head>
<body>
    <div class="tela_cadastro">
        <div class="Nav_inicial">
            <ul class="logo">
                <li><a class="nav-link" href="{% url 'home' %}">Oficina Abelha</a></li> 
            </ul>

            <ul class="nav_itens">
                <li><a class="nav-link" href="{% url 'account_login' %}">Login</a></li>
                <li><a class="nav-link" href="{% url 'comofunc' %}">Como Funciona</a></li>
                <li><a class="nav-link" href="{% url 'contato' %}">Contato</a></li>
            </ul>
        </div>

        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">            
            <div class="meio_cadastro">
                {% csrf_token %}
                <ul class="titulo_cadastro">
                    <li> Cadastro de Clientes:
                </ul>
                <ul class="email_texto">
                    <li> Digite o seu e-mail:
                </ul>
    
                <ul class="cadastro_email">
                    {{form.email}}
                </ul>
    
                <ul class="nome_texto">
                    <li> Digite o seu nome:
                </ul>
    
                <ul class="cadastro_nome">
                    {{form.first_name}}
                </ul>

                <ul class="nome_texto">
                    <li> Digite o seu sobrenome:
                </ul>
    
                <ul class="cadastro_nome">
                    {{form.last_name}}
                </ul>

                <ul class="CPF_texto">
                    <li> Digite a seu CPF:
                </ul>
    
                <ul class="cadastro_CPF">
                    {{form.cpf}}
                </ul>

                <ul class="telefone_texto">
                    <li> Digite o seu telefone:
                </ul>
    
                <ul class="cadastro_telefone">
                    {{form.phone}}
                </ul>


                <ul class="senha_texto">
                    <li> Digite a sua senha:
                </ul>
                 
                <ul class="cadastro_senha">
                    {{form.password1}}
                </ul>
    
                <ul class="senhaconf_texto">
                    <li> Digite a sua senha novamente:
                </ul>
    
                <ul class="cadastro_senhaconf">
                    {{form.password2}}
                </ul>
    
     
                
                <ul class="btn_cadastrar">
                <button class="btn_cadastrar" type="submit">Cadastrar</button> 
                </ul>        
            </div>
        </form>
        <div class="rodape_contato">
                <ul class="contato"> 
                    <ul>
                        <li> R.  Agenor Clauss, 65 - Jardim Monte Carlo, Indaiatuba
                        <li> E-mail: oficinaabelha@gmail.com
                        <li> Telefone:  (19) 2660-0789
                    <ul>
                </ul>
        </div>
    </div>

</body>
</html>